{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^@adonisjs/(.*)$", "^#(.*)$", "^\\./", "^\\../"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
